@import "variables";

.navbar {
    height: 60px;
}

.container-fluid {
    @media (max-width: 991.98px) {
        background-color: white !important;
    }
}

.navbar-initial {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    background-color: transparent !important;
    padding: 0;
    transition: all 1.5s ease-out 0s;

    @media (max-width: 991.98px) {
        background-color: white !important;
        opacity: 0.75;
    }
}

.navbar-nav {
    font-size: 25px;
    margin-left: auto;

    .nav-item {
        margin-right: 25px;
    }
}

.navbar-element {
    margin-left: auto;

    .logo-container {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }

    .navbar-brand {
        font-size: 35px;
        &:hover {
            color: $gold-light;
        }
    }

    .nav-link {
        color: white;
        transition: transform .5s;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }

        @media (max-width: 991.98px) {
            color: black;
        }
    }
}

.sticky-top {
    padding: 0;
    opacity: 0.75;
    margin-top: -60px;

    .nav-link {
        color: black;
    }
}

.navbar-toggler {
    margin: 8px;

    @media (max-width: 991.98px) {
        display: block;
        margin-left: auto;
    }
}