<div id="media" class="container mt-5">
    <div class="row mb-5">
        <div class="col-xl-5 col-lg-6 col-md-8 mx-auto">
            <div class="text-center">
                <h1 class="title wow fadeInDown" data-wow-delay=".5s">Media</h1>
                <h4 class="wow fadeInUp" data-wow-delay=".8s">Bądź na bieżąco z Psim rapem:</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-3">
            <div class="media-element-container text-center mb-30 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="1.2s">
                <div class="media-element-2">
                  <a href="https://www.facebook.com/psirap">
                    <img src="assets/images/facebook.png" alt="Facebook">
                  </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="media-element-container text-center mb-30 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="1.2s">
                <div class="media-element-2">
                  <a href="https://www.youtube.com/channel/UCgnhsUqv0IXji-27ZA0jwbw">
                    <img src="assets/images/yt.png" alt="Youtube">
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
