@import "variables";

.countdown-time {
    position: relative;
    width: 69px;
    height: 69px;
    line-height: 75px;
    border-radius: 50%;
    color: $white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 28px;
    z-index: 1;
    background-image: linear-gradient($envelope-green 0%, $envelope-green-light 100%);
}

.countdown-element-container {
    margin-bottom: 2rem;
}