<div id="contact" class="container  mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center  mt-5">
                <h1 class="title wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".3s">Kontakt</h1>
                <h4 class="mt-4 wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".6s">
                  Jeśli masz jakieś pytania, propozycje, wypełnij formularz :)
                </h4>
            </div>
        </div>
    </div>
    <form action="https://submit-form.com/6XrdTntg">
        <div class="row wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".9s">
            <div class="col-lg-6">
                <input type="text" id="name" name="name" placeholder="Imię i nazwisko" required="true" />
            </div>
            <div class="col-lg-6">
                <input type="text" id="contact" name="contact" placeholder="Kontakt zwrotny (email lub telefon)" required="" />
            </div>
            <div class="col-lg-12">
                <textarea id="message" name="message" required="true"
                    placeholder="Szczeku szczek!"
                ></textarea>
            </div>
            <div class="col-lg-12 text-center">
                <button type="submit" class="main-btn btn-hover border-btn">Wyślij</button>
            </div>
        </div>
    </form>
</div>
