<div class="container mt-5">
  <div class="row" id="actionInfo">
    <div class="text-center">
      <h1 class="title mt-5 wow fadeInDown" data-wow-delay=".5s">#Pet16Challenge</h1>
      <h4>
        Joł zwierzęcy przyjaciele! <br>
        Psi rap zaczyna od akcji charytatywnej!
      </h4>
    </div>
    <div class="action-info mt-5">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 cold-12 wow fadeInDown" data-wow-delay=".8s">
          <h4 class="text-action-info">
            Nie każdy może sobie pozwolić na adopcję zwierzaka lub znaleźć czas na wolontariat, ale zawsze można wspomóc
            działaczy! <br>
            Pozwolę sobie darować zdjęcia skrzywdzonych i potrzebujących zwierząt, celem <em>#Pet16Challenge</em> jest
            wywoływanie
            uśmiechu na twarzy, a w końcowym efekcie przysłowiowego machania ogonkiem lub słodkiego mruczenia 😊 <br>
            <br>
          </h4>


        </div>
        <div class="col-lg-6 col-md-12 cold-12 wow fadeInUp" data-wow-delay="1.1s">
          <div class="auto-resizable-iframe">
            <div>
              <iframe src="https://www.youtube.com/embed/9LOquO-O4dE" frameborder="0" allowfullscreen
                      style="height:100%;"
              ></iframe>
            </div>
          </div>
        </div>
        <h4 class="text-action-info">
          Zebrane pieniądze w całości zostaną przekazane fundacjom prozwierzęcym. Wybór należy do Was! Pieniądze
          zostaną równo podzielone pomiędzy trzy pierwsze miejsca, które uzyskają najwięcej głosów w ankiecie na fb.
          Wysokość wpłaty jest oczywiście dowolna.
          Dołączacie do akcji, nie tylko łapiąc za portfel, łapcie też za mikrofon ze swoim
          pupilem i promujcie <em>#Pet16challenge</em>!
          Nie chodzi o umiejętności artystyczne, ale o dobrą zabawę i wspólny cel! <br>
        </h4>
        <div class="text-center">
          <h4> Zbiórka trwa do 05.05.2022</h4>
        </div>

        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 cold-12 wow fadeInDown text-center" data-wow-delay=".8s">
            <button type="submit" class="main-btn btn-hover border-btn mt-4 mb-4"><a href="https://www.ratujemyzwierzaki.pl/">Przejdź
              do zbiórki i dorzuć coś!</a>
            </button>
          </div>
          <div class="col-lg-6 col-md-12 cold-12 wow fadeInUp text-center" data-wow-delay="1.1s">
            <button type="submit" class="main-btn btn-hover border-btn mt-4 mb-4"><a
              href="https://www.facebook.com/psirap">Przejdź do ankiety i zagłosuj! </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://www.youtube.com/iframe_api"></script>
